body {background-color: blueviolet;
}

h1 {text-align: center ;
color:black}

h2 {text-align: center ;
    colr:black}

#imal {width: 100%;}

h3 {text-align: center ;
    colr:black}

h4 {text-align: center ;
        colr:black}